.resource-container {
    margin: 0 auto;
    width: min(1300px, 90%);
    align-items: center;
    background-image: url("../../../media/ResourceImage.png");
    background-size: cover;
    z-index: 1;
    width: 100vw;
    height: 45vh;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
  }

@media (min-width: 768px) {
  .resource-container {
    padding: 0 12%;
  }
  .resource-container h2 {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .resource-container {
    padding: 50px;
  }
  .resource-container h2 {
    margin: 0 50px;
    text-align: center;
  }
  .resource-button {
    margin: 50px auto;
  }
  .resource-link {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
  
  .resource-container h2 {
    padding-top: 90px;
    color: black;
    font-size: min(30px, 6vw);
  }
  
  .resource-button {
    font-size: min(20px, 6vw);
    color: white;
    position: absolute; 
    z-index: 2;
    border: none;
    margin-top: 50px;
    min-height: fit-content;
    min-width: auto;
    text-decoration: none;
    background-color: #6070FF;
    text-align: center;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  
  .resource-button h3 {
    color: white;
  }