.resource-container {
    margin: 0 auto;
    width: min(1300px, 90%);
    align-items: center;
    background-image: url("../../../media/ResourceImage.png");
    background-size: cover;
    z-index: 1;
    width: 100vw;
    height: 45vh;
    justify-content: center;
    position: relative;
  }
  
  .resource-container h2 {
    text-align: left;
    margin-left: 114px;
    padding-top: 90px;
    /*color: rgb(192, 191, 191);*/
    color: black;
    font-size: min(30px, 6vw);
  }
  
  .resource-button {
    position: absolute; 
    top: 65%; 
    left: 25%; 
    transform: translate(-60%, -50%); 
    z-index: 2;
    width: 30%; 
    height: 20%; 
    border: none;
    padding: 10px 20px;
    min-height: fit-content;
    min-width: auto;
  }
  
  .resource-button h3 {
    font-family: Arial, Helvetica, sans-serif;
  }