.service-blur {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 60px 0 70px 0;
  backdrop-filter: blur(7px);
  border-radius: 20px 20px 0 0;
}

.service-container {
  width: min(1300px, 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1350px) {
  .service-block {
    margin-top: 30px;
    display: flex;
    width: fill;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 650px) {
    .service-row {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 1350px) {
  .service-block {
    margin-top: 30px;
    display: flex;
    width: fill;
    flex-direction: row;
    justify-content: center;
  }
}