.layout {
    width: min(800px, 100%);
    padding: 25px;
}

.layout, .left, .right {
    display: flex;
}

.left, .right {
    flex-direction: column;
}

.right {
    justify-content: center;
    flex-grow: 1;
    margin: 0px 15px;
}

.testimonial {
    display: flex;
    flex-direction: column;
}

.source div {
    display: inline-block;
}

.companyImage img, .personImage img {
    height: 100px;
}

.quote {
    font-size: 1.25em;
    font-style: italic;
    text-align: center;
    padding: 20px;
    color: #6070FF;
    font-weight: bold;
}

.leftQuote img, .rightQuote img {
    width: 2em;
    height: 2em;
}

.rightQuote img {
    float: right;
}

.source {
    text-align: right;
}

.personImage {
    border-radius: 50%;
    overflow: hidden;
    height: 50px;
    width: 50px;
}

.personInfo {
    margin-left: 15px;
}

@media (min-width: 768px) {
    .layout {
        flex-direction: row;
    }
    .left {
        width: 45%;
    }
    .right {
        width: 50%;
    }
    .companyImage {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }
    .companyImage {
        max-width: 400px;
    }
}