.service-element {
  width: min(320px, 80vw);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: gray;
}

.service-element h2 {
  font-size: min(30px, 6vw);
}

.service-element h3 {
  font-size: min(18px, 3.6vw);;
}

.service-image {
  height: min(240px, 50vw);
  width: min(240px, 50vw);
  border-radius: 10%;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  padding: 10px;
}

.service-title {
  margin: 10px 0 5px 0;
}