.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    min-height: 100vh;
    overflow-y: hidden;
  }

  .services-blur {
    display: flex;
    width: 100%;
    justify-content: center;
    backdrop-filter: blur(7px);
    border-radius: 20px 20px 0 0;
    padding-bottom: 35px;
  }

  .services-block {
    display: flex;
    flex-direction: column;
  }