.research-article-page {
    min-height: 100vh;
}

.research-article-body {
    padding: 10px 20%;
    padding: 0 auto;
    max-width: 100%;
    display: block;
    min-height: 100vh;
}

.research-article-body h1 {
    font-size: 50px;
    color:#6070FF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    text-align: center;
}

.research-article-body h2 {
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-top:1.2rem;
}

.research-article-body h3 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-top:1.2rem;
}

.research-article-body p {
    font-size:16px;
    margin-top: 1.5rem;
    margin-bottom:1.5rem;
    line-height:1.5rem;
}

.research-article-body a {
    color: #6070FF;
    text-decoration: none;
}

.research-article-body a:hover {
    text-decoration: underline;
}

.research-article-body strong {
    font-weight: bold;
}
  
.research-article-body em {
    font-style: italic;
}
  
.research-article-body ul {
    list-style: disc;
    margin-left: 1.25rem;
}
  
.research-article-body ol {
    list-style: decimal;
    margin-left: 1.25rem;
}

.research-article-body img {
    display: block;
    max-width: 100%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: min(100%, 600px);
}

.research-article-body code {
    font-family: 'Courier New', monospace;
    font-size:16px;
    border: .063rem;
    padding: .4rem .4rem .4rem 1.2rem; 
    border-radius: .188rem;
    background-color: #d3d3d3;
    border-left: .125rem solid #6070FF;
    margin: .625rem 0;
    display: block;
}

@media (max-width:760px){
    .research-article-body h1 {
        font-size: 43px;
    }

    .research-article-body h2 {
        font-size: 25px;
    }

    .research-article-body h3 {
        font-size: 16px;
    }

    .research-article-body p{
        font-size: 14px;
    }

    .research-article-body code{
        font-size:14px;
    }
}