.top-bar {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  height: 70px;
  width: stretch;
  /* padding: min(30px, 3vw) min(60px, 3vw) 0px min(30px, 3vw); */
  padding: 30px min(60px, 6vw) 0px 30px;
  z-index: 5;
}

.sections-popup {
  position: absolute;
}

.inner-circle {
  position: absolute;
}

.top-bar h2 {
  text-align: center;
  font-size: min(28px, 5.6vw);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

@media screen and (max-width: 800px) {
  .mcg-logo {
    margin-left: -10px;
    /* margin-top: -30px; */
    filter: drop-shadow(0px 7px 30px #0005);
    height: min(70px, 10vw);
    opacity: 0.9;
    transition: 0.2s;
  }

  .sections-group {
    display: none;
  }

  .sections-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: min(70px, 10vw);
    width: min(70px, 10vw);
    border-radius: 50px;
    border-style: none;
    background-color: transparent;
  }

  .inner-line {
    height: 2px;
    width: 35px;
    background-color: #474747;
    transition: transform 0.3s;
  }

  .bottom {
    margin-top: 10px;
  }

  .top-active {
    transform: translateY(6px) rotate(45deg);
  }

  .bottom-active {
    transform: translateY(-6px) rotate(-45deg);
  }

  .sections-popup {
    display: flex;
    margin-top: 60px;
    padding: 60px 0;
    top: min(70px, 10vw);
    left: 50%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: gray;
    gap: 50px;
    transform: translate(-50%, 0);
    transition: 0.4s;
    background-color: #fefefef5;
    z-index: 10;
  }
}

@media screen and (min-width: 800px) {
  .mcg-logo {
    margin-left: 30px;
    filter: drop-shadow(0px 7px 30px #0005);
    height: min(70px, 10vw);
    opacity: 0.9;
    transition: 0.2s;
  }

  .sections-group {
    height: stretch;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: min(40px, 2vw);
  }

  .sections-selector {
    display: none;
  }

  .sections-popup {
    visibility: hidden;
  }

  .section-link {
    width: min(100px, 10vw);
  }
}
