.banner {
  width: 100%;
  background-color: var(--primary_light);
  color: white;
  position: relative;
  display: inline-flex;
}

.banner-content {
  margin: auto;
  justify-content: center;
  text-align: center;
  display: inline-flex;
}

@media (min-width: 500px) {
  .banner-content {
    flex-direction: row;
  }
}

@media (max-width: 500px) {
  .banner-content {
    flex-direction: column;
  }
}

.banner-link-button a {
  opacity: 1;
  text-decoration: none;
  background-color: var(--primary_dark);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin: auto 10px;
  white-space: nowrap;
}

.banner-link-button a:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.287) 0 0);
}

.banner-link-button {
  margin: auto;
  padding: 10px 0;
}

.banner > a {
  margin-left: 1em;
}

.banner-close-button { 
  display: flex;
  width: 50px;
}

.banner-close-button button {
  margin: auto;
  color: white;
  background-color: var(--primary);
  border: none;
}

.banner-close-button button:hover {
  background-color: var(--primary_dark);
  cursor: pointer;
}

.nav-bar {
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  box-sizing: border-box;
  /* padding: min(30px, 3vw) min(60px, 3vw) 0px min(30px, 3vw); */
  background-color: white;
  height: min-content;
  padding: 30px min(60px, 6vw) 0px 30px;
}

.top-bar {
  z-index: 5;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}

.sections-popup {
  position: absolute;
}

.inner-circle {
  position: absolute;
}

.top-bar h2 {
  text-align: center;
  /* font-size: min(28px, 5.6vw); */
  /* font-size: 28px; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.mcg-logo {
  filter: drop-shadow(0px 7px 30px #0005);
  height: min(70px, 10vw);
  opacity: 0.9;
  transition: 0.2s;
}

.sections-selector:hover:enabled {
  background-color: var(--primary_light);
}

@media screen and (max-width: 1100px) {
  .top-bar h2 {
    font-size: 25px;
  }

  .mcg-logo {
    margin-left: -10px;
  }

  .sections-group {
    display: none;
  }

  .sections-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: min(70px, 10vw);
    width: min(70px, 10vw);
    border-radius: 50px;
    border-style: none;
    background-color: transparent;
  }

  .inner-line {
    height: 2px;
    width: 30px;
    background-color: #474747;
    transition: transform 0.3s;
  }

  .bottom {
    margin-top: 10px;
  }

  .top-active {
    transform: translateY(6px) rotate(45deg);
  }

  .bottom-active {
    transform: translateY(-6px) rotate(-45deg);
  }

  .sections-popup {
    display: flex;
    margin-top: 60px;
    padding: 15px 0 60px 0;
    top: min(70px, 10vw);
    left: 50%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: gray;
    gap: 50px;
    transform: translate(-50%, 0);
    transition: 0.4s;
    background-color: #fefefef5;
    z-index: 10;
  }
}

@media screen and (min-width: 1100px) {
  @media screen and (min-width: 1300px) {
    .top-bar h2 {
      font-size: 20px;
    }

    .sections-group {
      height: stretch;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      margin: auto 0;
    }
  }
  @media screen and (max-width: 1300px) {
    .top-bar h2 {
      font-size: 20px;
    }

    .sections-group {
      height: stretch;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      margin: auto 0;
    }
  }

  .mcg-logo {
    margin-left: 30px;
  }

  .sections-selector {
    display: none;
  }

  .sections-popup {
    visibility: hidden;
  }

  .section-link {
    min-width: 90px;
    width: fit-content;
  }
}
