.member-popup {
  display: flex;
  position: fixed;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: min(1400px, 90%);
  background-color: #EEEE;
  z-index: 5;
  border-radius: 20px;
  padding: 30px;
  transition: 0.2s;
  color: #474747;
}

.member-popup h2 {
  color: gray;
  margin-top: 10px;
}

.member-close {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  border: none;
  background-color: #FF605C;
  top: 10px;
  right: 10px;
}