.paragraph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: min(1400px, 90vw);
  margin-bottom: 35px;
  line-height: 1.5;
  max-width: 100%;
}

.paragraph a {
  text-decoration: underline;
}

.links li {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .paragraph h1 {
    font-size: 1.5rem;
  }

  .paragraph h2 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .paragraph h1 {
    font-size: 1.35rem;
  }

  .paragraph h2 {
    font-size: 1.125rem;
  }
}

.paragraph ol {
  margin: 0;
}

.paragraph ul {
  margin: 0;
}

.paragraph hr {
  height: 0px;
  visibility: hidden;
}
