.page-title {
  display: flex;
  height: 300px;
  width: 100%;
  flex-direction: column;
  /* background: rgb(95,214,181);
  background: linear-gradient(30deg, rgba(95,214,181,1) 0%, rgba(103,109,240,1) 100%); */
  padding-top: 100px;
  align-items: center;
}

.page-title h1 {
  margin-top: 100px;
}

.page-title h2 {
  margin-top: 20px;
  width: min(1600px, 80vw);
  color: #474747;
  font-size: min(21px, 4vw);
  text-align: center;
}