@media screen and (min-width: 1300px) {
  .page-title {
    display: flex;
    min-height: 300px;
    width: 100%;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
  }

  .page-title h1 {
    font-size: 40px;
    margin-top: 100px;
  }

  .page-title h2 {
    margin-top: 20px;
    width: min(1600px, 80vw);
    color: #474747;
    font-size: 21px;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1300px) {
  .page-title {
    display: flex;
    min-height: 200px;
    width: 100%;
    flex-direction: column;
    padding-top: 75px;
    align-items: center;
  }

  .page-title h1 {
    font-size: 30px;
    margin-top: 80px;
  }

  .page-title h2 {
    margin-top: 15px;
    width: min(1600px, 80vw);
    color: #474747;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }
}