.page-padding {
    height: 100px;
}

@media screen and (min-width: 1300px) {
    .page-padding {
      display: flex;
      min-height: 100px;
      width: 100%;
      flex-direction: column;
      padding-top: 100px;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 1300px) {
    .page-padding {
      display: flex;
      min-height: 200px;
      width: 100%;
      flex-direction: column;
      padding-top: 75px;
      align-items: center;
    }
  }