.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  min-height: 100vh;
  overflow-y: hidden;
}

.landing-screen {
  display: flex;
  height: 800px;
  width: 100%;
  flex-direction: column;
  padding-top: 100px;
}

.landing-screen h1 {
  font-size: min(50px, 4.5vw);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.landing-title {
  margin: 275px 0 0 min(150px, 5vw);
  width: min(900px, 90vw);
}

.landing-screen h2 {
  margin: min(30px, 3vw) 0 0 min(150px, 5vw);
  width: min(800px, 80vw);
  font-size: min(25px, 2.5vw);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.service-blur {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 60px 0 70px 0;
  backdrop-filter: blur(7px);
  border-radius: 20px 20px 0 0;
}

.service-container {
  margin: 0 auto;
  width: min(1300px, 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-container h1 {
  font-size: min(40px, 8vw);;
}

.service-row {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1350px) {
  .service-block {
    margin-top: 30px;
    display: flex;
    width: fill;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 1200px) {
    .service-row {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 1350px) {
  .service-block {
    margin-top: 30px;
    display: flex;
    width: fill;
    flex-direction: row;
    justify-content: center;
  }
}

.landing-words {
  margin: 60px auto;
  width: min(1500px, 80%);
  justify-content: space-between;
  column-count: 3;
  column-gap: 20px;
  max-width: 1200px;
  color: grey;
}

.landing-words-column h1 {
  font-size: min(100px, 8vw);
  text-align: center;
  align-self: center;
}

.landing-words-column p {
  font-size: min(40px, 8vw);
  text-align: center;
}

@media screen and (max-width: 1650px) {
  .landing-words {
    flex-direction: column;
    align-items: center;
    gap: 60px
  }
}

@media screen and (max-width: 1000px) {
  .landing-words {
    margin-top: 30px;
    display: flex;
    width: fill;
    flex-direction: column;
    align-items: center;
  }

  .landing-words-column {
    margin-bottom: 20px;
  }

  .landing-words-column p {
    margin-top: 3px;
    width: 100%;
  }
}

.event-container {
  background-color: #818BEC;
  margin: 0 auto;
  width: min(1300px, 90%);
  align-items: center;
  
  width: 100vw;
  height: 45vh;
  justify-content: center;
}

.event-container h1 {
  font-size: min(35px, 8vw);
  text-align: center;
  align-self: center;
  padding: 28px;
  color: rgb(84, 84, 84);
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  height: 35vh;
  width: 70vw;
}
.event {
  color: rgb(84, 84, 84);
  text-align: center;
  padding: 14px;
}

.event h2 {
  font-size: min(27px, 8vw);

}

@media screen and (max-width: 600px) {
  .event-grid {
    display: flex;
    flex-direction: column;
    overflow: visible;
    position: relative;
  }
}

/*
<div>
        <div className="resource-container">
          <h1>Interested in a career in consulting?</h1>
        </div>
      </div>
*/