.body {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    box-sizing: border-box;
}

@media (min-width: 1100px) {
    .body {
        padding: 10vh 10vw;
    }
}

@media (max-width: 480px) {
    .body {
        padding: 25px 10px;
    }
}

@media (min-width: 480px) and (max-width: 768px)  {
    .body {
        padding: 25px 10px;
    }
}

@media (min-width: 768px) and (max-width: 1100px) {
    .body {
        padding: 5vh 10vw;
    }
}