.event-container {
  background-color: #aab1ea;
  width: 100%; /* Fills the width of the screen */
  min-width: 100vw;
}

.event-container h1 {
  font-size: min(32px, 8vw);
  text-align: center;
  align-self: center;
  padding: 35px 350px;

  color: black;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  height: 100%;
  width: 70%;
  padding-bottom: 35px;
}
.event {
  color: rgb(84, 84, 84);
  text-align: center;
  padding: 14px;
}

.event h2 {
  font-size: min(27px, 50px);
  color: black;

}

@media screen and (max-width: 600px) {
  .event-grid {
    display: flex;
    flex-direction: column;
    overflow: visible;
    position: relative;
  }
}
