.event-container {
  background-color: #aab1eabd;
  min-width: 100vw;
  padding: 3% 350px;
}

.event-container .title {
  text-align: center;
  align-self: center;
  padding: 20px 30%;
  color: black;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  height: 100%;
  width: 70%;
  padding-bottom: 35px;
}

.event {
  color: rgb(84, 84, 84);
  text-align: center;
  padding: 14px;
}

.event h2 {
  font-size: min(27px, 50px);
  color: black;
  margin: 25px;
}

@media screen and (max-width: 600px) {
  .event-grid {
    display: flex;
    flex-direction: column;
    overflow: visible;
    position: relative;
  }
}
