.member-container {
  /* display: flex; */
  /* flex-direction: column; */
  margin-top: 30px;
  border-radius: 5%;
  filter: drop-shadow(0 10px 20px #3333);
  transition: filter 0.5s, height 1s ease, margin 1s ease;
  -webkit-transition: filter 0.5s, height 1s ease, margin 1s ease;
  cursor: pointer;
  perspective: 800px;
  z-index: 0;
}

.member-inner {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 1s ease;
  transform-style: preserve-3d;
}

.member-front, .member-back {
  position: absolute;
  height: fit-content;
  width: 100%;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  background-color: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.member-back {
  transform: rotateY(180deg);
  height: fit-content;
}

.member-flip {
  transform: rotateY(180deg);
}

.member-backflip {
  transform: rotateY(0deg);
}

.member-container:hover {
  filter: drop-shadow(0 10px 20px #3335);
}

@media screen and (min-width: 1300px) {
  .member-container {
    height: 342px; 
    width: 270px;
  }
  
  .member-front img {
    height: 270px;
    width: 270px;
    border-radius: 5% 5% 0 0;
    background-color: #dddddd;
    object-fit: contain;
  }

  .member-container h2 {
    font-size: 1.8rem;
    /* font-size: 32px; */
    margin: 8px 0 0 8px;
    color: #474747;
  }

  .member-container h3 {
    font-size: 1rem;
    /* font-size: 16px; */
    color: gray;
    margin: 3px 0 10px 10px;
  }

  .member-back .background {
    position: absolute;
    background-color: #6070FFCC;
    width: 100%;
    height: 90px;
    border-radius: 15px 15px 0 0;
    z-index: -1;
  }

  .member-back img {
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #FFF;
    background-color: #dddddd;
    object-fit: contain;
  }

  .member-back .heading {
    display: flex;
    width: stretch;
    flex-direction: column;
    margin: 16px 20px 0 10px;
    align-items: flex-end;
  }

  .member-back h2 {
    font-size: 1.6rem;
    text-align: end;
    margin: 0;
    color: #FFF;
  }

  .member-back h3 {
    line-height: 1.25;
    font-size: 0.95rem;
    color: #474747;
    margin: 0 5px 10px 10px;
  }

  .member-back .logo {
    position: absolute;
    align-self: center;
    bottom: -60px;
    height: 50px;
    width: 50px;
    border-radius: 0;
    border-width: 0;
    margin: 0;
    filter: drop-shadow(0 10px 20px #3333);
  }
}

@media screen and (max-width: 1300px) and (min-width: 480px) {
  .member-container {
    height: 270px;
    width: 220px;
  }

  .member-front img {
    height: 220px;
    width: 220px;
    border-radius: 5% 5% 0 0;
    background-color: #dddddd;
    object-fit: contain;
  }

  .member-back img {
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #FFF;
    background-color: #dddddd;
    object-fit: contain;
  }

  .member-container h2 {
    font-size: 1.35rem;
    margin: 6px 0 0 6px;
    color: black;
  }

  .member-container h3 {
    font-size: 0.78rem;
    color: #474747;
    margin: 2px 0 7px 7px;
  }

  .member-back .background {
    position: absolute;
    background-color: #6070FFCC;
    width: 100%;
    height: 75px;
    border-radius: 15px 15px 0 0;
    z-index: -1;
  }

  .member-back img {
    height: 80px;
    width: 80px;
    margin: 8px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #FFF;
    background-color: #dddddd;
    object-fit: contain;
  }

  .member-back .heading {
    display: flex;
    width: stretch;
    flex-direction: column;
    margin: 10px 15px 0 10px;
    align-items: flex-end;
  }

  .member-back h2 {
    font-size: 1.5rem;
    text-align: end;
    margin: 0;
    color: #FFF;
  }

  .member-back h3 {
    line-height: 1.25;
    font-size: 0.9rem;
    color: #474747;
    margin: 0 4px 10px 8px;
  }

  .member-back .logo {
    position: absolute;
    align-self: center;
    bottom: -55px;
    height: 45px;
    width: 45px;
    border-radius: 0;
    border-width: 0;
    margin: 0;
    filter: drop-shadow(0 10px 20px #3333);
  }
}

@media screen and (max-width: 480px) {
  .member-container {
    height: 342px;
    width: 270px;
  }

  .member-front img {
    height: 270px;
    width: 270px;
    border-radius: 5% 5% 0 0;
    background-color: #dddddd;
    object-fit: contain;
  }

  .member-container h2 {
    font-size: 1.8rem;
    margin: 8px 0 0 8px;
    color: #474747;
  }

  .member-container h3 {
    font-size: 1rem;
    color: gray;
    margin: 3px 0 10px 10px;
  }

  .member-back .background {
    position: absolute;
    background-color: #6070FFCC;
    width: 100%;
    height: 90px;
    border-radius: 15px 15px 0 0;
    z-index: -1;
  }

  .member-back img {
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #FFF;
    background-color: #dddddd;
    object-fit: contain;
  }

  .member-back .heading {
    display: flex;
    width: stretch;
    flex-direction: column;
    margin: 16px 20px 0 10px;
    align-items: flex-end;
  }

  .member-back h2 {
    font-size: 1.6rem;
    text-align: end;
    margin: 0;
    color: #FFF;
  }

  .member-back h3 {
    line-height: 1.25;
    font-size: 0.95rem;
    color: #474747;
    margin: 0 5px 10px 10px;
  }

  .member-back .logo {
    position: absolute;
    align-self: center;
    bottom: -60px;
    height: 50px;
    width: 50px;
    border-radius: 0;
    border-width: 0;
    margin: 0;
    filter: drop-shadow(0 10px 20px #3333);
  }
}

.member-link:hover {
  opacity: none;
}
