.landing-screen {
  display: flex;
  height: 800px;
  width: 100%;
  flex-direction: column;
  /* background: rgb(95,214,181);
  background: linear-gradient(30deg, rgba(95,214,181,1) 0%, rgba(103,109,240,1) 100%); */
  padding-top: 100px;
}

.landing-screen h1 {
  font-size: min(50px, 4.5vw);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.landing-title {
  margin: 275px 0 0 min(150px, 5vw);
  width: min(900px, 90vw);
}

.landing-screen h2 {
  margin: min(30px, 3vw) 0 0 min(150px, 5vw);
  width: min(800px, 80vw);
  font-size: min(25px, 2.5vw);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}