.career-blur {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(7px);
  border-radius: 20px 20px 0 0;
  padding-bottom: 35px;
}

.career-block {
  display: flex;
  flex-direction: column;
}

.jobs {
  height: 100%;
  width: 95vw;
}

.career-blur button {
  border: none;
  text-decoration: none;
  background-color: #6070FF;
  text-align: center;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.2s;
  width: min(200px, 90vw);
}