.careerBlock {
  display: flex;
  flex-direction: column;
}

.jobs {
  height: 100%;
  width: 95vw;
}

.careerBlock button {
  border: none;
  text-decoration: none;
  background-color: #6070FF;
  text-align: center;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.2s;
  width: min(200px, 90vw);
}

.organizationalChart {
  width: min(1000px, 100%);
}

.applyButton {
  width: min-content;
}