.home-background {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
}

.top-stroke {
  position: absolute;
  right: 0;
  width: max(100vw, 1400px);
}

.side-stroke {
  position: absolute;
  top: max(10vw, 200px);
  right: 0;
  height: 1100px;
}